<!DOCTYPE html>
<html>
<head>
  <title>当前时间</title>
</head>
<body>

<div>
  <h1>当前时间</h1>
  <p>公历时间: <span id="currentDateTime"></span></p>
  <p>农历时间: <span id="lunarDateTime"></span></p>
</div>

<script>
function getCurrentDateTime() {
  // 获取当前时间
  const currentDate = new Date();
  document.getElementById('currentDateTime').innerText = currentDate.toLocaleString();

  // 从服务器获取农历时间
  fetch('http://127.0.0.1:5000/get_current_datetime')
    .then(response => {
      if (!response.ok) {
        throw new Error('Network response was not ok');
      }
      return response.text();
    })
    .then(data => {
      document.getElementById('lunarDateTime').innerText = data;
    })
    .catch(error => {
      console.error('Error fetching data:', error);
    });
}

// 在页面加载完毕后调用函数
document.addEventListener('DOMContentLoaded', function() {
  getCurrentDateTime();
  // 每隔一段时间更新当前时间
  setInterval(getCurrentDateTime, 1000);
});
</script>

</body>
</html>
